@model UserViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}


<h3 class="text-center">User Information</h3>

<div class="row m-1">
    <div class="col-sm-9">
        <table class="table table-bordered table-striped">
            <tr>
                <th>UserName</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>Email Adress</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <th>City</th>
                @if (Model.City != null)
                {
                    <td>@Model.City</td>
                }
                else
                {
                    <td>---</td>
                }

            </tr>
            <tr>
                <th>Birthday</th>
                @if (Model.BirthDay != null)
                {
                    <td>@Model.BirthDay.Value.ToShortDateString()</td>
                }
                else
                {
                    <td>---</td>
                }
            </tr>
            <tr>
                <th>Gender</th>
                <td>@Model.Gender</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-3">
        @if (string.IsNullOrEmpty(Model.Picture))
        {
            <img style="border-radius: 50%; width:200px; height:200px" src="/UserPicture/Default_Icon.jpg" />
        }
        else
        {
            <img style="border-radius: 50%; width:200px; height:200px" src=" @Model.Picture" />
        }

    </div>
</div>



